.form_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
    
    ;
}

.form_sub_container{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 30vh;
    background-color: gray;
    border : 1px solid black;
}
.form_data{
    padding: 20px;
}
.form_data > input {
    width: 100%;
}
.button{
    margin: auto;
    text-align: "center";
    color: 'red';
    background-color: brown;
}

.button:hover{
    background-color: blue;
}


